<!DOCTYPE HTML>
<html lang="zh-CN" ng-app="whogrowthchart">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script type="text/javascript" src="components/loader.js"></script>   
    <script type="text/javascript" src="lib/onsenui/js/onsenui.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/jquery.min.2.2.3.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.core.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.appframework.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.frame.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.scroller.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.util.datetime.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.datetimebase.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.datetime.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/mobiscroll.android-holo-light.js"></script>
    <script type="text/javascript" src="lib/mobiscroll/js/i18n/mobiscroll.i18n.zh.js"></script>
    <script type="text/javascript" src="lib/who/WHOGrowthData.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.1.10/echarts.common.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script> 
    <script type="text/javascript" src="lib/who/echarts-ng.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="components/loader.css">
    <link rel="stylesheet" type="text/css" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" type="text/css" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.animation.css"/>
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.frame.css"/>
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.frame.android-holo.css"/>
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.scroller.css"/>
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.scroller.android-holo.css"/>
    <link rel="stylesheet" type="text/css" href="lib/mobiscroll/css/mobiscroll.android-holo-light.css"/>

    <script>
        var test;
        var markerPointModel = function(label, textcolor, data) {
            var rs = {
                symbol: 'pin',
                symbolSize: 1,
                symbolOffset: [-25, 10],
                label: {
                    normal: {
                        show: true,
                        position: 'bottom',
                        formatter: label,
                        textStyle: {
                            color: textcolor,
                            fontStyle: 'normal',
                            fontWeight: 'bold',
                            fontFamily: "-apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif",
                            fontSize: 12
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'white'
                    }
                },
                data: [{
                    name: label,
                    coord: data
                }]
            };
            return rs;
        };
            
        var lineSeriesModel = function(linename, linecolor, linedata, linemarker) {
            var rs = {
                name: linename,
                type: 'line',
                smooth: true,
                large: true,
                showSymbol: true,
                symbolSize: 0,
                lineStyle: {
                    normal: {
                        color: linecolor,
                        width: 1,
                        shadowColor: 'rgba(0,0,0,0.4)',
                        shadowBlur: 10,
                        shadowOffsetY: 10
                    }
                },
                data: linedata,
                markPoint:  linemarker
            };
            return rs;            
        };
        var option = function(WHOGrowthData, charttype, weight, height, ageindays) {
            var unit = charttype == '身高' ? 'cm' : 'kg' ;
            var rs =  {
                        legend: {
                            show: false
                        },
                        tooltip: {
                            trigger: 'axis',
                            showDelay : 0,
                            formatter : function (params) {
                                switch(params.componentType){
                                    case 'series':
                                        if (params.value.length > 1) {
                                            return params.seriesName + ' :<br/>'
                                               + params.value[0] + '天 '
                                               + params.value[1] + unit;
                                        }
                                    break;
                                    case 'markPoint': case 'markLine':
                                    break;
                                }                                
                            },
                            axisPointer:{
                                show: true,
                                type : 'cross',
                                lineStyle: {
                                    type : 'dashed',
                                    width : 1,
                                    opacity: 0
                                }
                            },
                            zlevel: 5
                        },
                        grid: {
                            left: '4%',
                            right: '3%',
                            bottom: '6%',
                            top: '2%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type: 'value',
                                min: 'dataMin',
                                max: 'dataMax',
                                scale: true,
                                name: '出生天数',
                                nameLocation: 'middle',
                                nameGap: 25,
                                nameTextStyle: {
                                    fontSize: 14
                                }
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                scale: true,
                                name: charttype + '('+ unit +')',
                                nameLocation: 'middle',
                                nameGap: 25,
                                nameTextStyle: {
                                    fontSize: 14
                                },
                                axisLabel:{
                                    rotate: 45
                                },
                                splitNumber: 10,
                                splitLine: {
                                    interval: 2
                                }
                            }
                        ],
                        series: [
                            new lineSeriesModel(
                                '3%', 
                                'red', 
                                WHOGrowthData.P3byDays, 
                                new markerPointModel('3%', '#d00', _.max(WHOGrowthData.P3byDays,function(x){return x[1]}) )
                            ),
                            new lineSeriesModel(
                                '15%', 
                                '#FFA500', 
                                WHOGrowthData.P15byDays, 
                                new markerPointModel('15%', '#ee9a00', _.max(WHOGrowthData.P15byDays,function(x){return x[1]}) )
                            ),
                            new lineSeriesModel(
                                '50%', 
                                '#009100', 
                                WHOGrowthData.P50byDays, 
                                new markerPointModel('50%', '#006f00', _.max(WHOGrowthData.P50byDays,function(x){return x[1]}) )
                            ),
                            new lineSeriesModel(
                                '85%', 
                                '#FFA500', 
                                WHOGrowthData.P85byDays, 
                                new markerPointModel('85%', '#ee9a00', _.max(WHOGrowthData.P85byDays,function(x){return x[1]}) )
                            ),
                            new lineSeriesModel(
                                '97%', 
                                'red', 
                                WHOGrowthData.P97byDays, 
                                new markerPointModel('97%', '#d00', _.max(WHOGrowthData.P97byDays,function(x){return x[1]}) )
                            )
                        ]
                    };
                    
            var dot;
            if (charttype == "体重") {
                dot = {
                        name: '宝宝' + charttype,
                        type: 'scatter',
                        symbol: 'circle',
                        showSymbol: true,
                        symbolSize: 10,
                        itemStyle: {
                            normal: {
                                color: '#db1968'
                            }                                
                        },
                        zlevel: 2,
                        data: [[ageindays, weight]],
                        markLine: {
                            lineStyle: {
                                normal: {
                                    color: '#bf70b0',
                                    opacity: 0.5,
                                    type: 'dashed'
                                }
                            },
                            label: {
                                normal: {
                                    position: 'start'
                                }
                            },
                            data: [
                                {yAxis: parseFloat(weight)},
                                {xAxis: ageindays}
                            ]
                        }
                    };
                rs["series"].push(dot);
            } else {
                dot = {
                        name: '宝宝' + charttype,
                        type: 'scatter',
                        symbol: 'circle',
                        showSymbol: true,
                        symbolSize: 10,
                        itemStyle: {
                            normal: {
                                color: '#db1968'
                            }                                
                        },
                        zlevel: 2,
                        data: [[ageindays, weight]],
                        markLine: {
                            lineStyle: {
                                normal: {
                                    color: '#bf70b0',
                                    opacity: 0.5,
                                    type: 'dashed'
                                }
                            },
                            label: {
                                normal: {
                                    position: 'start'
                                }
                            },
                            data: [
                                {yAxis: parseFloat(height)},
                                {xAxis: ageindays}
                            ]
                        }
                    };
                rs["series"].push(dot);
            }
            return rs;
        };
        var whogrowthchartApp = angular.module('whogrowthchart', ['onsen', 'echarts-ng']);
        whogrowthchartApp.directive('ngMin', function () {
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function (scope, elem, attr, ctrl) {
                    scope.$watch(attr.ngMin, function () {
                        ctrl.$setViewValue(ctrl.$viewValue);
                    });
                    var minValidator = function (value) {
                        var min = scope.$eval(attr.ngMin) || 0;
                        if (!isEmpty(value) && value < min) {
                            ctrl.$setValidity('ngMin', false);
                            return undefined;
                        } else {
                            ctrl.$setValidity('ngMin', true);
                            return value;
                        }
                    };
        
                    ctrl.$parsers.push(minValidator);
                    ctrl.$formatters.push(minValidator);
                }
            };
        });       
        whogrowthchartApp.directive('ngMax', function () {
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function (scope, elem, attr, ctrl) {
                    scope.$watch(attr.ngMax, function () {
                        ctrl.$setViewValue(ctrl.$viewValue);
                    });
                    var maxValidator = function (value) {
                        var max = scope.$eval(attr.ngMax) || Infinity;
                        if (!isEmpty(value) && value > max) {
                            ctrl.$setValidity('ngMax', false);
                            return undefined;
                        } else {
                            ctrl.$setValidity('ngMax', true);
                            return value;
                        }
                    };
        
                    ctrl.$parsers.push(maxValidator);
                    ctrl.$formatters.push(maxValidator);
                }
            };
        });
        whogrowthchartApp.factory('vm', function () {
            return { 
                bdob:'',
                ageindays: '',
                sex:'',
                charttype:'',
                height:'',
                weight:''
            };
        });
        whogrowthchartApp.controller('AppController', function($scope) { });
        whogrowthchartApp.controller('InputController', function($scope, vm) {
            $scope.vm = vm;            
            $scope.ShowChart = function(){
                modalwait.show();
                type = vm.charttype == '身高' ? 'Height' : 'Weight';
                $scope.vm.dataSubset = {};
                _.each(WHOGrowthData[type][vm.sex], function(value, key){ 
                    $scope.vm.dataSubset[key] = _.filter(value, function(item){ 
                        return item[0] >= vm.mindays && item[0] <= vm.maxdays 
                    });
                });
                myNavigator.pushPage('chart.html', { 
                    animation : 'slide' 
                });
                myNavigator.on("postpush", function(){
                    modalwait.hide();
                });
            };
            ons.ready(function() {
                // Init code here
                $('#bdob').mobiscroll().date({
                    theme: 'android-holo-light',     // Specify theme like: theme: 'ios' or omit setting to use default
                    mode: 'scroller',       // Specify scroller mode like: mode: 'mixed' or omit setting to use default
                    display: 'bottom', // Specify display mode like: display: 'bottom' or omit setting to use default
                    lang: 'zh',        // Specify language like: lang: 'pl' or omit setting to use default
                    maxDate: new Date(),
                    minDate: new Date(2010, 1, 1),
                    onClosed: function (valueText, inst) {
                      $scope.vm.bdob = valueText;
                      $("#bdob").val(valueText);
                      vm.ageindays = Math.abs(moment(vm.bdob, "YYYY/MM/DD").diff(moment(), 'days'));
                      $scope.vm.mindays = vm.ageindays - 50 <= 50 ? 0 : Math.floor((vm.ageindays - 50)/10)*10; // Always get multiple of 10. Math.floor() get integer of division
                      $scope.vm.maxdays = Math.floor((vm.ageindays + 50)/10)*10;
                    }
                });
            });
        });
        whogrowthchartApp.controller('ChartController', function($scope, $echarts, vm) {
            ons.ready(function() {
                $scope.CHART_ID = $echarts.generateInstanceIdentity();
                $scope.CHART_DIMENSION = "6:10"
                $scope.CHART_OPTION = new option(vm.dataSubset, vm.charttype, vm.weight, vm.height, vm.ageindays);
                $scope.vm = vm;
                test = new option(vm.dataSubset, vm.charttype, vm.weight, vm.height, vm.ageindays);
            });
        });
    </script>
</head>
<body>
    <body ng-controller="AppController">
    <ons-navigator animation="slide" var="myNavigator">
        <ons-page ng-controller="InputController">
            <ons-toolbar>
                <div class="center">WHO生长曲线</div>
            </ons-toolbar>
            <br>
            <form name="KidInfoForm" novalidate=""> 
                <ons-list modifier="inset">
                    <ons-list-header>生日</ons-list-header>
                    <ons-list-item modifier="longdivider">
                        <ons-input id="bdob" name="bdob" modifier="material" float ng-model="vm.bdob" required></ons-input><ons-icon icon="fa-calendar"></ons-icon>
                    </ons-list-item>
                    <ons-list-header>性别</ons-list-header>
                    <ons-list-item tappable modifier="longdivider">
                        <label class="left">
                            <ons-input name="sex" type="radio" input-id="sex_1" modifier="material" value="Boy" ng-model="vm.sex" required></ons-input>
                        </label>
                        <label for="radio-1" class="center">
                            男宝宝
                        </label>
                    </ons-list-item>
                    <ons-list-item tappable modifier="longdivider">
                        <label class="left">
                            <ons-input name="sex" type="radio" input-id="sex_2" modifier="material" value="Girl" ng-model="vm.sex"></ons-input>
                        </label>
                        <label for="radio-2" class="center">
                            女宝宝
                        </label>
                    </ons-list-item>
                    <ons-list-header>曲线类别</ons-list-header>
                    <ons-list-item tappable modifier="longdivider">
                        <label class="left">
                            <ons-input name="charttype" type="radio" input-id="charttype_1" modifier="material" value="身高" ng-model="vm.charttype" required></ons-input>
                        </label>
                        <label for="radio-1" class="center">
                            身高
                        </label>
                    </ons-list-item>
                    <ons-list-item tappable modifier="longdivider">
                        <label class="left">
                            <ons-input name="charttype" type="radio" input-id="charttype_2" modifier="material" value="体重" ng-model="vm.charttype"></ons-input>
                        </label>
                        <label for="radio-2" class="center">
                            体重
                        </label>
                    </ons-list-item>
                    <ons-list-header ng-if="KidInfoForm.charttype.$modelValue == '身高'">身高</ons-list-header>
                    <ons-list-item modifier="longdivider" ng-if="KidInfoForm.charttype.$modelValue == '身高'">
                        <ons-input id="height" name="height" modifier="material" placeholder="cm" float ng-model="vm.height" required></ons-input>                      
                    </ons-list-item>
                    <ons-list-header ng-if="KidInfoForm.charttype.$modelValue == '体重'">体重</ons-list-header>
                    <ons-list-item modifier="longdivider" ng-if="KidInfoForm.charttype.$modelValue == '体重'">
                        <ons-input id="weight" name="weight" modifier="material" placeholder="kg" float ng-model="vm.weight" required></ons-input>                       
                    </ons-list-item>
                </ons-list>
                <br>
                <ons-row>
                    <ons-col width="10%"></ons-col>
                    <ons-col><ons-button modifier="material large" ripple ng-click="ShowChart()" ng-disabled="(!vm.height && !vm.weight) && KidInfoForm.$invalid"><ons-ripple></ons-ripple><ons-icon icon="fa-line-chart"></ons-icon> 查看{{vm.charttype}}生长曲线</ons-button></ons-col>
                    <ons-col width="10%"></ons-col>
                </ons-row>
            </form>
            <!--{{KidInfoForm}}-->
        </ons-page>
    </ons-navigator>
    <ons-template id="chart.html">
        <ons-page ng-controller="ChartController">
            <ons-toolbar>
              <div class="left">
                <ons-back-button>Back</ons-back-button>
              </div>
              <div class="center">WHO{{vm.charttype}}生长曲线 - {{vm.sex=='Girl' ? '女' : '男'}}</div>
            </ons-toolbar>
            <div id="ChartBox">
                <div echarts="CHART_ID" config="CHART_OPTION" style="width:375px;height:620px;">
                  
                </div>
            </div>
        </ons-page>
    </ons-template>
    <ons-modal var="modalwait">
        <ons-icon size="50px" spin icon="md-spinner"></ons-icon>
        <br>
        <br> 努力加载中...
        <br>
    </ons-modal>
  </body>
</body>
</html>
